.seats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.seats__button {
    width: 225px;
    height: 42px;
}

.seats__map {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px 0 20px;
}

.seats__seat {
    background-color: #c3cfd9;
    border: 1px solid #808f9d;
    border-radius: 12px;
    width: 26px;
    height: 26px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px 18px 0;
}

.seats__seat--selected {
    background-color: #8dd7cf;
    border: 1px solid #45bdb0;
}

.seats__seat--unavailable {
    background-color: #fbe192;
    border: 1px solid #f7c52b;
}

.seats__form {
    margin-top: 40px;
    margin-bottom: 57px;
}

.seats__input {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #293845;
    width: 300px;
    margin-top: 7px;
}

.seats__input input {
    margin-top: 5px;
    height: 51px;
}

.seats__input input::placeholder {
    color: #afafaf;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.seats__orientation {
    display: flex;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
    color: #4e5a65;
}

.seats__example {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 12px;
}
